<div class="row">
  <div class="form-group col-md-6">
    <label for="conference">Conference</label>
 <select ui-select2 data-placeholder="-- Select conference --" class="form-control" ng-model="paper.conference.id">
  <option value=""></option>
  <option ng-repeat="conf in conferences" value="{{conf.id}}">{{conf.title}}</option>
</select>
  </div>
   <div class="form-group col-md-6">
    <label for="type">Paper type</label>
 <select class="form-control" ui-select2 data-placeholder="-- Select type --" ng-model="paper.type.id">
  <option value=""></option>
   <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
</select>
  </div>
  </div>
  <div class="form-group">
    <label for="title">Title *</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="paper.title" required>
  </div>
   <div class="form-group">
    <label for="abstract">Abstract *</label>
   <textarea class="form-control" rows="4" ng-model="paper.paperAbstract" required></textarea>
   </div>
  <div class="form-group">
    <label for="keywords">Keywords *</label>
    <input type="text" class="form-control" id="keywords" placeholder="Enter keywords" ng-model="paper.keywords" required>
  </div>
  <div class="row">
   <div class="form-group col-md-4">
    <label for="pageFrom">Page from *</label>
    <input type="number" class="form-control" id="pageFrom" placeholder="Enter page from " ng-model="paper.pageFrom" required>
  </div>
   <div class="form-group col-md-4">
    <label for="pageTo">Page to *</label>
    <input type="number" class="form-control" id="pageTo" placeholder="Enter page to " ng-model="paper.pageTo" required>
  </div>
  <div class="form-group col-md-4">
    <label for="number">Number (order) *</label>
    <input type="number" class="form-control" id="number" placeholder="Enter submission number " ng-model="paper.number" required>
  </div>
  </div>
  <div class="form-group">
    <label for="url">Springer URL</label>
    <input type="text" class="form-control" id="url" placeholder="Enter Springer URL" ng-model="paper.url" >
  </div>
  <div class="form-group">
    <label for="doi">DOI</label>
    <input type="text" class="form-control" id="doi" placeholder="Enter DOI " ng-model="paper.doi" >
  </div>
  <div class="form-group" ng-show="attachments.length">
  	<a href="{{ basePath }}/attachment/paper/{{paper.id}}/paper{{paper.id}}.pdf"><i class="fa fa-fw fa-file-pdf-o"></i> Download</a>
  </div>
  <div class="form-group" ng-show="paper.id">
    <label for="file">File input</label>
    <input type="file" ng-file-select="onFileSelect($files)" >
  </div>