<div class="page-header">
  <h1>Conferences</h1>
</div>
<div class="create-btn">
	<button class="btn btn-primary" ng-click="createNew()">
		<i class="fa fa-fw fa-plus"></i> Add new conference
	</button>
</div>
<table ng-table="table" show-filter="true" class="table table-condensed table-striped table-bordered" ng-show="conferences.length">
  <tr ng-repeat="conference in $data">
  	<td data-title="'ID'" sortable="'id'">{{conference.id}}</td>
	  <td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">{{conference.title}}</td>
	  <td data-title="'Topic'" sortable="'topic'" filter="{ 'title': 'text' }">{{conference.topic}}</td>
	  <td data-title="'Date'" sortable="'dateFrom'">{{conference.dateFrom | date : 'd'}} - {{conference.dateTo | date : 'd MMM yyyy'}}</td>
	  <td data-title="'Venue'">{{conference.venue}}</td>
	  <td data-title="'ISSN'" sortable="'issn'">{{conference.issn}}</td>
	  <td data-title="'Edit'">
	  	<a type="button" class="btn btn-info btn-xs" ng-href="#/conferences/{{conference.id}}/meta"><i class="fa fa-fw fa-edit-o"></i> Meta</a>
	  	<button type="button" class="btn btn-default btn-xs" ng-click="getConference(conference.id)"><i class="fa fa-fw fa-edit"></i> Edit</button>
	  	<button type="button" class="btn btn-danger btn-xs" ng-click="deleteConference(conference.id)"><i class="fa fa-fw fa-trash-o"></i> Delete</button>
	  </td>
  </tr>
</table>