<div class="page-header">
  <h1>Papers</h1>
</div>
<div class="row">
	<div class="col-md-6">
	<div class="row">
		<div class="form-group col-md-6">
	    	<label for="conference">Conference</label>
			 <select ui-select2 data-placeholder="-- Select conference --" class="form-control" ng-model="table.$params.filter.conference">
	  			<option value=""></option>
	  			<option ng-repeat="conf in conferences" value="{{conf.id}}">{{conf.title}}</option>
			</select>
		</div>
	<div class="form-group col-md-6">
	    <label for="type">Paper type</label>
		 <select class="form-control" ui-select2 data-placeholder="-- Select type --" ng-model="table.$params.filter.type">
		  	<option value=""></option>
		   	<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
		</select>
	</div>
	</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
		<label for="total">Total: {{ totalElements }}</label>		
		<button style="display:block;" type="button" ng-click="clearFilters()" class="btn btn-default">
			<i class="fa fa-fw fa-times"></i> Clear
		</button>
		</div>
		<div class="create-btn">
			<button class="btn btn-primary" ng-click="createNew()">
				<i class="fa fa-fw fa-plus"></i> Add new paper
			</button>
		</div>
	</div>	
</div>

<table ng-table="table" show-filter="true" class="table table-condensed table-striped table-bordered">
  <tr ng-repeat="paper in $data">
  	<td data-title="'ID'" sortable="'id'">{{paper.id}}</td>
  	<td data-title="'#'" sortable="'number'">{{paper.number}}</td>
  	<td data-title="'Pages'">{{ paper.pageFrom }}-{{ paper.pageTo }}</td>
	<td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">{{paper.title}}</td>
	<td data-title="'Type'" sortable="'type.name'">{{paper.type.name}}</td>
	<td data-title="'Conference'" sortable="'conference.title'">{{ paper.conference.title }}</td>
	<td data-title="'Authors'"><a class="btn btn-info btn-xs" ng-href="#/paper/{{paper.id}}/authors"><i class="fa fa-fw fa-group"></i> Authors</a></td>
	<td data-title="'Edit'">
		<button type="button" class="btn btn-default btn-xs" ng-click="getPaper(paper.id)"><i class="fa fa-fw fa-edit"></i> Edit</button>
		<button type="button" class="btn btn-danger btn-xs" ng-click="deletePaper(paper.id)"><i class="fa fa-fw fa-trash-o"></i> Delete</button>
	</td>
  </tr>
</table>
