<div class="page-header">
  <h1>Papers</h1>
</div>
<div class="create-btn">
	<button class="btn btn-primary" ng-click="createNew()">
		<i class="fa fa-fw fa-plus"></i> Add new paper
	</button>
</div>

<table ng-table="table" show-filter="true" class="table table-condensed table-striped table-bordered">
  <tr ng-repeat="paper in $data">
  	<td data-title="'ID'" sortable="'id'">{{paper.id}}</td>
  	<td data-title="'Number'" sortable="'number'">{{paper.number}}</td>
  	<td data-title="'File'"><span ng-show="paper.paperFileName"><a href="{{ basePath }}/paper/download/{{paper.id}}"><i class="fa fa-fw fa-file-pdf-o"></i></a></span></td>
	<td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">{{paper.title}}</td>
	<td data-title="'Type'" sortable="'type.name'">{{paper.type.name}}</td>
	<td data-title="'Conference'" sortable="'conference.title'" filter="{ 'conference.title': 'text' }">{{paper.conference.title}}</td>
	<td data-title="'Authors'"><a class="btn btn-info btn-xs" ng-href="#/paper/{{paper.id}}/authors"><i class="fa fa-fw fa-group"></i> Authors</a></td>
	<td data-title="'Edit'">
		<button type="button" class="btn btn-default btn-xs" ng-click="getPaper(paper.id)"><i class="fa fa-fw fa-edit"></i> Edit</button>
		<button type="button" class="btn btn-danger btn-xs" ng-click="deletePaper(paper.id)"><i class="fa fa-fw fa-trash-o"></i> Delete</button>
	</td>
  </tr>
</table>
