<div class="page-header">
  <h1>Papers</h1>
</div>
<div class="row">
<div class="col-md-6">
<form role="form" name="papersForm" ng-submit="savePaper()">
<div class="row">
  <div class="form-group col-md-6">
    <label for="conference">Conference</label>
 <select class="form-control" ng-model="paper.conference.id">
  <option value="">-- Select conference --</option>
  <option ng-repeat="conf in conferences" value="{{conf.id}}">{{conf.title}}</option>
</select>
  </div>
   <div class="form-group col-md-6">
    <label for="type">Paper type</label>
 <select class="form-control" ng-model="paper.type.id">
  <option value="">-- Select paper type --</option>
   <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
</select>
  </div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="paper.title">
  </div>
   <div class="form-group">
    <label for="abstract">Abstract</label>
   <textarea class="form-control" rows="4" ng-model="paper.paperAbstract"></textarea>
   </div>
  <div class="form-group">
    <label for="keywords">Keywords</label>
    <input type="text" class="form-control" id="keywords" placeholder="Enter keywords" ng-model="paper.keywords" >
  </div>
  <div class="form-group">
    <label for="url">Springer URL</label>
    <input type="text" class="form-control" id="url" placeholder="Enter Springer URL" ng-model="paper.url" >
  </div>
  <div class="form-group">
    <label for="file">File input</label>
    <input type="file" id="file">
   </div>
   <button type="submit" class="btn btn-primary" ng-disabled="!papersForm.$valid">Save</button>
</form>
</div>
<div class="col-md-6">
  <table class="table table-condensed table-striped table-bordered" ng-show="papers.length">
  <tr>
  <th>Title</th><th>Conference</th><th>Edit</th><th>Delete</th><th>Authors</th>
  </tr>
  <tr ng-repeat="paper in papers">
	  <td>{{paper.title}}</td>
	  <td>{{paper.conference.title}}</td>
	  <td><button type="button" class="btn btn-default btn-xs" ng-click="getPaper(paper.id)">Edit</button></td>
	  <td><button type="button" class="btn btn-danger btn-xs" ng-click="deletePaper(paper.id)">Delete</button></td>
	  <td><a ng-href="#/paper/{{paper.id}}/authors">Authors</a></td>
  </tr>
  </table>
  </div>
</div>